<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-header" th:fragment="header">
    <div class="layui-logo">仓库管理系统</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
        <a href="javascript:;">
            贤心
        </a>
        <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
        </dl>
        </li>
        <li class="layui-nav-item"><a href="">退了</a></li>
    </ul>
</div>