<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="layui-header" th:fragment="header">
    <div class="layui-logo">仓库管理系统</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
        <a href="javascript:;">
            Tsubasa
        </a>
        <dl class="layui-nav-child">
            <dd><a href="https://github.com/iTsubasa597/WarehouseSystem">Github</a></dd>
        </dl>
        </li>
        <li class="layui-nav-item"><a href="/main/logout">退出</a></li>
    </ul>
</div>