<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<body>
    <div class="search">
        用户名称：
        <div class="layui-inline">
          <input class="layui-input" name="id" id="searchData" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="search">搜索</button>
    </div>

    <table lay-filter="table" id="tableData"></table>    

    <script type="text/html" id="dataTools">
        <a class="layui-btn" lay-event="newOrder">添加新用户</a>
    </script>

    <script type="text/html" id="tableTools">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script th:src="@{/layui.all.js}"></script>
    <script>
        var table = layui.table;
        table.render({
            elem: '#tableData'
            ,url: '/api/goods' //数据接口
            ,toolbar: '#dataTools'
            ,defaultToolbar: []
            ,cols: [ [ //表头
            {field: 'goodsId', align:'center', title: '编号'}
            ,{field: 'goodsName', align:'center', title: '名称'}
            ,{field: 'goodsNum', align:'center', title: '数量'}
            ,{field: 'goodsPrice', align:'center', title: '描述'}
            ,{fixed: 'right', title: '操作', align:'center', toolbar: '#tableTools'}
            ] ]
            ,page: true
        });
        table.on('tool(table)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var Event = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (Event == 'del') {
                layer.confirm('一旦删除无法恢复，真的要这么做吗？', function(index) {
                    layui.$.ajax({
                        url: '/api/goods/deleteGoods',
                        method: 'post',
                        data: obj.data3,
                        success: function(res){     
                            if(res.code='0'){     
                                obj.del();  
                                layer.msg('删除成功');
                            }
                        },                           
                        error: function(data) {
                            layer.alert('发生了某些错误');   
                        }             
                    })
                    layer.close(index);
                });
            }
        });
        table.on('toolbar(table)', function(obj) {
            var data = obj.data;
            var Event = obj.event;
            switch (Event) {
                case 'newOrder':
                    layer.open({
                        type: 2,
                        title: '添加货物',
                        shadeClose: true,
                        shade: 0.8,
                        area: ['1200px', '90%'],
                        content: '/main/newGoods' //iframe的url
                    });
            }
        })
        layui.$('.search .layui-btn').on('click', function(){
            table.reload('tableData', {
                url: '/api/goods/data',
                where: {"name": layui.$('#searchData').val()}
            });
        });         
    </script>
</body>