<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../templates/layout/head :: head"></head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin" >
            <div th:replace="../templates/layout/header :: header"></div>
            <div th:replace="../templates/layout/side :: sider"></div>
            <div class="layui-body">
                <div th:replace="../templates/layout/tab :: tab"></div>
            </div>
            <div th:replace="../templates/layout/footer :: footer"></div>
        </div>

        <script>
            var element = layui.element, $ = layui.jquery;
            layTabPlus.init({lay_filter: 'tab'});
        </script>
    </body>
</html>