<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">商品名称: </label>
        <div class="layui-input-inline">
            <input type="text" name="goodsName" required lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">订单类型: </label>
        <div class="layui-input-block">
            <select name="orderType" lay-filter="" lay-search>
                <option value="">请选择订单类型</option>
                <option value="0">入库订单</option>
                <option value="1">出库订单</option>
                <option value="2">退货订单</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
            <label class="layui-form-label">商品数量: </label>
            <div class="layui-input-block">
            <input type="text" name="goodsNum" placeholder="请输入商品数量" autocomplete="off" class="layui-input" required>
            </div>
        </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">订单描述: </label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="orderDescribe"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
    </form>
    <script th:src="@{/layui.all.js}"></script>
    <script>
        var form = layui.form;
        var $ = layui.$
        form.on('submit(*)', function(data){
            $.ajax({
                url: 'api/newOrder',
                method:'post',
                data:data.field,
                success:function(res){       
                    if(res.code='0'){       

                    }                
                    else            
                        alert(res.msg);   
                    },              
                    error:function (data) {
                        
                    }           
            })
        });
  </script>