<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>仓库管理系统</title>
        <link rel="stylesheet" th:href="@{/css/layui.css}">
        <style>
        .window{  
            width: 400px;  
            position: absolute;  
            margin-left: -200px;  
            margin-top: -80px;  
            top: 50%;  
            left: 50%;  
            display: block;  
            z-index: 2000;  
            background: #fff;
            padding: 20 0;
        }
        </style>
    </head>
    <body>
        <div class="window">
            <form  class="layui-form" method="post">
                <div class="layui-form-item" style="margin-right: 100px;margin-top: 20px;">
                    <label class="layui-form-label">用户名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="user" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                    </div>
                </div>
                  
                <div class="layui-form-item" >
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                  
                <div class="layui-form-item">
                    <div style="text-align: center;">
                        <input type="submit" class="layui-btn"  value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录"/> 
                    </div>
                </div>
            </form>
        </div>
        <script th:src="@{/layui.all.js}"></script>
    </body>
</html>