<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<body>
    <div class="search">
        订单名称：
        <div class="layui-inline">
          <input class="layui-input" name="id" id="searchData" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="search">搜索</button>
    </div>

    <table lay-filter="table" id="tableData"></table>

    <script type="text/html" id="tableTools">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script type="text/html" id="dataTools">
        <a class="layui-btn" lay-event="allOrder">全部订单</a>
        <a class="layui-btn" lay-event="inOrder">入库订单</a>
        <a class="layui-btn" lay-event="outOrder">出库订单</a>
        <a class="layui-btn" lay-event="returnOrder">退货订单</a>
        <a class="layui-btn" lay-event="state">未处理</a>
        
    </script>

    <script type="text/html" id="OrderTpl">
        {{#  if(d.isOrder === 1){ }}
            <span>{{ "已处理" }}</span>
        {{#  } else { }}
            <span style="background-color: #ff0000; color: #ffffff">{{ "未处理" }}</span>
        {{#  } }}
    </script>

    <script type="text/html" id="OrderTypeTpl">
        {{#  if(d.orderType === 0){ }}
            <span>{{ "入库订单" }}</span>
        {{#  } else if(d.orderType === 1) { }}
            <span>{{ "出库订单" }}</span>
        {{#  } else if(d.orderType === 2) { }}
            <span>{{ "退货订单" }}</span>
        {{# } }}
    </script>
      


    <script th:src="@{/layui.all.js}"></script>
    <script>
        var table = layui.table;
        table.render({
            elem: '#tableData'
            ,url: '/api/order' //数据接口
            ,toolbar: '#dataTools'
            ,defaultToolbar: []
            ,cols: [ [ //表头
            {field: 'goodsName', align:'center', title: '商品名称'}
            ,{field: 'goodsNum', align:'center', title: '商品数量'}
            ,{field: 'isOrder', templet: '#OrderTpl', align:'center', title: '是否处理'}
            ,{field: 'orderType', templet: '#OrderTypeTpl', align:'center', title: '订单类型'},
            {fixed: 'right', title: '操作', align:'center', toolbar: '#tableTools'}
            ] ]
            ,page: true
        });
        
        table.on('tool(table)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var Event = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (Event == 'del') {
                layer.confirm('真的删除行么', function(index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (Event == 'edit') {

            }
        });
        layui.form.on('switch(switch)', function(data){
            if (this.checked == true) {
                table.reload('tableData', {
                        url: 'api/order/state',
                        where: {"state": 1}
                });
            } else {
                console.log("false")
            }
            // layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });
        table.on('toolbar(table)', function(obj) {
            var data = obj.data;
            var Event = obj.event;
            switch (Event) {
                case 'allOrder': 
                    table.reload('tableData', {
                        url: 'api/order/',
                        where: {}
                    });
                    break;
                case 'inOrder':
                    table.reload('tableData', {
                        url: 'api/order/type',
                        where: {"type": 0}
                    });
                    break;
                case 'outOrder':
                    table.reload('tableData', {
                        url: 'api/order/type',
                        where: {"type": 1}
                    });
                    break;
                case 'returnOrder':
                    table.reload('tableData', {
                        url: 'api/order/type',
                        where: {"type": 2}
                    });
                    break;
                case 'state':
                    table.reload('tableData', {
                        url: 'api/order/state',
                        where: {"state": 0}
                    });
                    break;
            }
        })
        layui.$('.search .layui-btn').on('click', function(){
            table.reload('tableData', {
                url: 'api/order/data',
                where: {"goodsName": layui.$('#searchData').val()}
            });
        });     
    </script>
</body>