<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<body>
    <table lay-filter="parse-table-demo" th:each="data : ${datas}">
        <thead>
          <tr>
            <th lay-data="{type:'checkbox', fixed:'left'}"></th>
            <th lay-data="{field:'username', width:200}">昵称</th>
            <th lay-data="{field:'joinTime', width:200}">加入时间</th>
            <th lay-data="{field:'sign', minWidth: 180}">签名</th>
            <th lay-data="{field:'test', minWidth: 180}">签名</th>
            <th lay-data="{fixed: 'right', width:300, align:'center', toolbar: '#barDemo'}">操作</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td th:text="${data.goodsName}"></td>
            <td th:text="${data.goodsNum}"></td>
            <td th:text="${data.isOrder}"></td>
            <td th:text="${data.OrderType}"></td>
          </tr>
        </tbody>
      </table>

      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>

      <script th:src="@{/layui.all.js}"></script>
      <script>
        var table = layui.table;
        table.init('parse-table-demo', {id: 'allAtt',limit: 1, page: {count: 3, limit: 2, layout: ['prev', 'page', 'next']}, groups: 5})
        table.on('tool(parse-table-demo)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var Event = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if (Event == 'del') {
                layer.confirm('真的删除行么', function(index){
                obj.del();
                layer.close(index);
                });
            }
        });      
      </script>