{{{ define "footer" }}}
<!DOCTYPE html>
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © Created By Tsubasa
    <script src="static/layui.all.js"></script>
    <script src="static/layTabPlus.js"></script>
</div>

{{{ end }}}