{{{ define "tab" }}}
    <div class="layui-tab" lay-filter="tab" lay-allowClose="false">
        <ul class="layui-tab-title">
        </ul>
        <div class="layui-tab-content">
        </div>
    </div>
{{{ end }}}